<p class="container" action="/profile" method="GET">
USER: <%= user %><br />
Name: <%= user.name %><br />
Company: <%= user.company %><br />
Organization: <%= user.organization %><br />
Title: <%= user.title %><br />
Description: <%= user.description %><br />
Phone: <%= user.telephoneNumber %><br />
Email: <%= user.mail %><br />
</p>

